<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.younsw.InventoryManager.object.dao.ObjectDAO">

	<insert id="objectInsert" parameterType="map">
	
		INSERT INTO 
			`object`
		(
			`userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		)
		VALUE 
		(
			#{userId}
			, #{name}
			, #{imagePath}
			, #{classification}
			, #{serialNumber}
			, #{price}
			, #{sharing}
			, #{etc}
			, now()
			, now()
		)
		
	</insert>
	
	<select id="objectSelect" parameterType="int" resultType="com.younsw.InventoryManager.object.model.Object">
	
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE
			`userId` = #{userId}
	
	</select>
	
	<select id="objectDetail" parameterType="map" resultType="com.younsw.InventoryManager.object.model.Object">
		
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE
			if(`id` = #{objectId}, if( `userId` = #{userId}, `id` = #{objectId}, `sharing` = #{sharing} ), 'N' )
			
		
	</select>
	
	<delete id="deleteObject" parameterType="int">
	
		DELETE FROM 
			`object`
		WHERE 
			`id` = #{objectId}
			AND `userId` = #{userId}
	
	</delete>
	
	<select id="favoriteObject" parameterType="int" resultType="com.younsw.InventoryManager.object.model.Object">
		
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE
			`id` = #{objectId}
		
	</select>
	
	<select id="otherObject" parameterType="map" resultType="com.younsw.InventoryManager.object.model.Object">
		
		
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE
			`sharing` = #{sharing}
		
	</select>
	
	<select id="objectSeleteById" parameterType="map" resultType="com.younsw.InventoryManager.object.model.Object">
	
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE 
			`id` = #{objectId}
	
	</select>
	
	<select id="specificPersonObjectList" parameterType="map" resultType="com.younsw.InventoryManager.object.model.Object">
	
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE 
			`userId` = #{userId}
			AND `sharing` = #{sharing}

	</select>
	
	<select id="searchObject" parameterType="map" resultType="com.younsw.InventoryManager.object.model.Object">
	
		SELECT 
			`id`
			, `userId`
			, `name`
			, `imagepath`
			, `classification`
			, `serialNumber`
			, `price`
			, `sharing`
			, `etc`
			, `createdAt`
			, `updatedAt`
		FROM 
			`object`
		WHERE 
			
			if(`name` like '%${search}%' OR `classification` like '%${search}%' OR `etc` like '%${search}%',
			 if(`userId` = #{userId},  `name` like '%${search}%' OR `classification` like '%${search}%' OR `etc` like '%${search}%', `sharing` = #{sharing} ), 'N' )
		 
	</select>
	
	<update id="objectUpdate" parameterType="map">
	
		UPDATE 
			`object`
		SET 
			`name` = #{name}
			, `classification` = #{classification}
			, `serialNumber` = #{serialNumber}
			, `price` = #{price}
			, `sharing` = #{sharing}
			, `etc` = #{etc}
			, `updatedAt` = now()
		WHERE 
			`userId` = #{userId}
			AND `Id` = #{objectId}
		
	</update>
 
</mapper>

