@charset "UTF-8";

#wrap {
	width:1200px;
	justify-content: center;
	margin : 0 auto;
}

.baner {
	height: 600px;
}

.header {
	height:110px;
}

.nav {
	color: #000000;
}

.section {
	height: 700px;
}

.signup {
	height:400px;
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}

.name {
	font-size: 30px;
}

.deleteFavorite {
	background-color: #00cc00;
}

.insertFavorite {
	background-color: #4dff4d;
}

.createdAt {
	font-size: 10px;
	color: #585858;
}

.center{
	margin:0;
}

.price {
	font-size: 20px;
}

.objectDetail {
	height: 600px;
}

.image_div {
	justify-content: center;
	align-items: center;
}

.image {
	height: 600px;
	width: 600px;
	object-fit: contain;
}

.box {
	background-color: #ea3423;
	height: 300px;
	width: 600px;
}

.search {
	height: 35px;
}