@charset "UTF-8";

#wrap {
	width:1200px;
	justify-content: center;
}

.header {
	height:70px;
}

.nav {
	color: #000000;
}

.section {
	height: 700px;
}

.signup {
	height:400px;
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}